# Secrets & Env
.env
*/.env
server/.env
local.properties
keystore.properties
*.jks
*.keystore

# Node
node_modules/
*/node_modules/

# Build & Binaries
.gradle/
.idea/
.kotlin/
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
*.iml
*.apk
artifacts/
*.log
hs_err_pid*
replay_pid*